{% extends "base.j2" %}
{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
            <form action="" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="word">Mot</label>
                    <input type="text" name="word" id="word" {% if word %} value="{{word}}" {% endif %} class="form-control" placeholder="Entrez le mot">
                </div>
                <div class="form-group">
                    <label for="absents">Lettres absentes</label>
                    <input type="text" name="absents" id="absents" value="{{absents if absents}}" class="form-control {{"is-invalid" if erreur}}" placeholder="Entrez les lettres absentes">
                    {% if erreur %}<div class="invalid-feedback">{{erreur}}</div>{% endif %}
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">Voir le résultat</button>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <button type="button" class="btn btn-info" data-toggle="popover" data-trigger="focus" title="Comment ça marche ?" data-content="Entrez votre mot en remplaçant les lettres que vous ne connaissez pas par un point puis, si vous avez des lettres fausses, entrez les dans Lettres absentes. Enfin, cliquez sur le bouton et le résultat va apparaître en dessous du bouton.">Info</button>
                        </div>
                    </div>
                </div>
            </form>
            {% if result%}
            <samp>
                {% if not result.wordlist %}
                <div>Aucune suggestion de mot</div>
                {% elif result.wordlist|length < 50 %}
                <div>Suggestions de mots</div>
                {% for l in result.wordlist %}
                <div>{{l}}</div>
                {% endfor %}
                {% else %}
                <div>{{result.wordlist|length}} mots possibles</div>
                {% endif %}
                {% if not result.letters %}
                <div>Aucune suggestion de lettre</div>
                {% else %}
                <div>Certitude:&nbsp{{(result.cert * 100)|int}} %</div>
                {% for letter in result.letters %}
                <div>{{letter}}</div>
                {% endfor %}
                {% endif %}
            </samp>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}